body {
  margin: auto;
  padding: auto;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: white;
  color: #393E46;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins';
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a, a:hover {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.btn, .btn:hover, .btn:active {
  border-radius: 1px;
}

.clrdTxt {
  color: #8062D6;
}

.btn-outline:hover {
  background-color: #8062D6;
  color: white;
}

.btn-outline {
  color: #8062D6;
  border: 1px solid #8062D6;
}

.tooltip {
  --bs-tooltip-bg: var(--bd-#8062D6-bg);
  --bs-tooltip-color: var(--bs-white);
  --bs-tooltip-opacity: var(--bs-50%)
}

/* Navbar */
.navbar {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link, .navbar-brand {
  color: white;
  text-shadow: 1px 1px 2px #191919a7;
}

.nav-link:hover, .nav-link:active {
  border-bottom: 2px solid #8062D6;
  text-shadow: 1px 1px 2px #8062D6;
}

.navbar-toggler, :hover, :focus-visible {
  border: none;
}

.navbar.scrolled-main-pg {
	background-color: white;
	transition: 400ms;
  color: #191919;
}

.navbar-brand.scrolled-main-pg, .nav-link.scrolled-main-pg {
  color: #191919;
  text-shadow: none;
}

.nav-link.scrolled-main-pg:hover {
  border: none;
  text-shadow: 1px 1px 2px #8062D6;
}

.navbar.scrolled-oth-pg {
	background-color: white;
	transition: 400ms;
  color: #191919;
}

.navbar-brand.scrolled-oth-pg, .nav-link.scrolled-oth-pg {
  color: #191919;
  text-shadow: none;
}

.nav-link.scrolled-oth-pg:hover {
  border: none;
  text-shadow: 1px 1px 2px #8062D6;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.662);
  border: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.317);
}

/* Lander */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  margin: auto;
  height: 85vh;
  background: linear-gradient( 45deg, #f7a2d6, #fcac8d, #95fef2, #94acf2, #e799f7, #ff9e9e, #83fdb2);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite;
}

.head-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.head-sec .col-lg-6 {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* Section */

.section {
  max-width: 70lh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.we-do {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.we-do .col-lg-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.carousel-inner {
  border-radius: 10px;
}

/* Work */
.work-with {
  padding: 10px 20px;
}

.clients-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients-div p {
  font-weight: 300;
}

.clients-div .col-lg-3 {
  padding: 10px;
}

.main-clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-clients .col-lg-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: baseline;
}

.main-clients img:hover {
  cursor: pointer;
}

/* Form */
.form-div {
  padding: 40px 0px;
}

.form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px 15px;
}

.form .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.check-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Contact */
.contact {
  padding: 0px 30px;
}

/* About */
.about-sec {
  padding: 80px 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-info, .main-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  border: none;
  border-radius: 0px;
  box-shadow: 5px 5px #8062D6;
}

.card:hover {
  border: none;
  border-radius: 0px;
  box-shadow: 10px 10px #8062D6;
}

.cover-card, .main-cards .col-lg-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Gallery */
.gallery {
  padding: 100px 20px;
  margin: auto;
}

.img-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: start;
  justify-content: center;
  margin: auto;
}

.img-section img {
  max-width: 20%;
}

/* Products */
.products .quote {
  font-weight: 200;
  font-family: 'Lexend Deca', sans-serif;
}

.products-div {
  display: flex;
  flex-wrap: wrap;
}

.prod-sec {
  padding: 50px 20px;
  margin: auto;
}

/* Footer */
.footer .row {
  width: 100%;
  margin: 0px;
}

.footer {
  color: black;
  opacity: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.all-right, .shiv {
  font-weight: 600;
}

.myLink {
  cursor: pointer;
  font-weight: 700;
}

@media only screen and (max-width: 600px){
  body {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  nav {
    padding: 10px 0px;
  }
  .header {
    padding: 150px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .img-sec, .img-sec img {
    display: none;
  }
  .work-with .text-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .gallery {
    padding: 100px 20px;
    margin: auto;
  }
  .img-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: start;
    justify-content: center;
    margin: auto;
  }
  .img-section img {
    max-width: 80%;
  }
  .form-div {
    padding: 40px 20px;
  }
  .clients-div {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .all-right, .shiv {
    font-weight: 600;
    font-size: 13px;
  }
  .myLink {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
  }
  
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}