<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Email Template</title>
</head>
<body>
  <h1>Product/Service Requirement</h1>
  <p>Here is the data received:</p>
  <pre><%= JSON.stringify(data, null, 2) %></pre>
</body>
</html>